In [24]:
import pandas as pd
import seaborn as sns

In [14]:
tips=sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [4]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [5]:
# pretvoriti kolunu u categorical
#pd.Categorical() # kada se ciste podaci category ----> string life is more easyer

In [34]:
# konvertujemo sve u string(catecory)
tips["sex_str"]=tips["sex"].astype(str)

## to.numerical()

In [20]:
# kako dobijamo ibjekat
tips_sub_miss=tips.head(10)
tips_sub_miss.loc[[1,3,5,7,9],"total_bill"]="missing"
tips_sub_miss
tips_sub_miss.info() # sada je total_bill object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
total_bill    10 non-null object
tip           10 non-null float64
sex           10 non-null category
smoker        10 non-null category
day           10 non-null category
time          10 non-null category
size          10 non-null int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 888.0+ bytes

In [21]:
try:
    tips_sub_miss["total_bill"].astype("float")
except:
    print("ERROR! Ne znam kako da konvertuje obejct u float")

ERROR! Ne znam kako da konvertuje obejct u float

In [26]:
#k ili ako oristimo funkciju 
try:
    pd.to_numeric(tips_sub_miss["total_bill"])
except:
    print("ERROR! Ne znam kako da konvertuje ---missing--- obejct u float")

ERROR! Ne znam kako da konvertuje ---missing--- obejct u float

In [33]:
#k koristeci error="coerce"
try:
    pd.to_numeric(tips_sub_miss["total_bill"], errors="coerce")
    print("Sve sto ne mogu da konvertujem, prebacujem u NaN")
except:
    print("ERROR! Ne znam kako da konvertuje ---missing--- obejct u float")

Sve sto ne mogu da konvertujem, prebacujem u NaN