In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# filter rows by smoker == "No" and total_bill>=10;
# what is the average total_bill for each value of smoker, day and time

In [19]:
tips_smoker = tips.loc[(tips["smoker"]=="No") & (tips["total_bill"]>=10)]
tips_smoker.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
#tips_smoker

In [29]:
grupped = tips.groupby(["smoker","day" ,"time"])[["total_bill"]].agg(np.mean).reset_index()

In [30]:
# Missing values

In [31]:
pd.isnull(grupped.total_bill)

0     False
1      True
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14     True
15    False
Name: total_bill, dtype: bool

In [ ]:
np.bincount