In [1]:
def my_fun():
    pass

In [3]:
import pandas as pd

In [4]:
dat = pd.DataFrame({'a':[10,20,30],
                   'b':[20,30,40]})
dat

    a   b
0  10  20
1  20  30
2  30  40

In [5]:
def my_sqr(x):
    return x**2

In [6]:
assert my_sqr(3)==9

In [7]:
def avg_2(x,y):
    """
    Take the average of two numbers
    """
    return (x+y)/2

In [9]:
# in pandas mateamtical operations are brodcasted(vectorized)
dat["a"]**2

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
dat["a"].apply(my_sqr)

0    100
1    400
2    900
Name: a, dtype: int64

In [ ]:
# fucntion that take multiple paramethers

In [14]:
def my_exp(x,e):
    return x**e

In [16]:
assert my_exp(2,10) == 1024

In [18]:
# Now it's the problem how to apply that e paramether in the function.
# One one of doing this is juct providing an extra element, for us this is the e, into the apply method
# but keep in the mind, the first thing which will be used as the first paramether of the fucnction.
# for other way around we have to change rewrite out fucntion
dat["a"].apply(my_exp,e=3)

0     1000
1     8000
2    27000
Name: a, dtype: int64