In [1]:
import pandas as pd

In [3]:
# brzo o funkcijama

def my_func():
    pass

In [5]:
def my_sq(x):
    """Racuna kvadrat unetog broja"""
    return x**2

In [6]:
def avg(x,y):
    """Racuna srednju vrednost unetih brojeva"""
    return (x+y)/2

In [7]:
my_sq(9)

81

In [8]:
avg(9,7)

8.0

# Apply bazicno

In [11]:
df=pd.DataFrame({"a":[10,20,30],
               "b":[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [18]:
# prolazak kroz nas skup podataka sa for petljom je najsporiji metod koji mozemo da koristimo 
df["a"]**2

0    100
1    400
2    900
Name: a, dtype: int64

In [19]:
#kako radi apply
def print_me(x):
    print(x)

In [20]:
# vidimo da ona prolazi kroz kolone jednu po jednu
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [13]:
df["a"].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
def my_exp(x,e):
    """Stepenujem x na stepem e"""
    return x**e

In [16]:
# Primena apply koristeci vise argumenata
df["a"].apply(my_exp,e=2)

0    100
1    400
2    900
Name: a, dtype: int64