In [11]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [4]:
tips=sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [8]:
# posto sklean ocekuje niz nula i jednicica
tips["sex_dummy"]=pd.get_dummies(tips["sex"], drop_first=True)
tips.head()

   total_bill   tip     sex smoker  day    time  size  sex_dummy
0       16.99  1.01  Female     No  Sun  Dinner     2          1
1       10.34  1.66    Male     No  Sun  Dinner     3          0
2       21.01  3.50    Male     No  Sun  Dinner     3          0
3       23.68  3.31    Male     No  Sun  Dinner     2          0
4       24.59  3.61  Female     No  Sun  Dinner     4          1

In [12]:
lm=LinearRegression()

In [13]:
X=tips[["total_bill","sex_dummy","size"]]
y=tips["tip"]

In [14]:
predict=lm.fit(X,y)

In [15]:
predict.coef_

array([0.09292034, 0.02641868, 0.19258767])

In [18]:
#mozda bolji nacin da se ovo uradi je u DataFrame


results=pd.DataFrame(predict.coef_, index=["total_bill","sex_dummy","size"],columns=["prediction"])
results

            prediction
total_bill    0.092920
sex_dummy     0.026419
size          0.192588